*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    }
    
    body{
    font-family:Arial,sans-serif;
    background:#f1f5ff;
    color:#222;
    }
    
    /* NAVBAR */
    
    header{
    background:linear-gradient(
    90deg,
    #141e30,
    #243b55
    );
    color:white;
    padding:25px;
    box-shadow:
    0 5px 20px rgba(0,0,0,.3);
    }
    
    header h1{
    text-align:center;
    margin-bottom:20px;
    }
    
    nav ul{
    list-style:none;
    display:flex;
    justify-content:center;
    gap:30px;
    }
    
    nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
    }
    
    nav a:hover{
    color:#38bdf8;
    }
    
    /* HOME CONTENT */
    
    .container{
    width:90%;
    max-width:900px;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:
    0 10px 30px rgba(0,0,0,.15);
    animation:show .5s;
    }
    
    h2{
    color:#243b55;
    margin-bottom:15px;
    }
    
    p{
    line-height:1.6;
    }
    
    /* BUTTON */
    
    button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    border-radius:8px;
    background:#2563eb;
    color:white;
    cursor:pointer;
    transition:.3s;
    }
    
    button:hover{
    transform:scale(1.05);
    background:#7c3aed;
    }
    
    /* FOOTER */

    footer{
    background:#4a6dac;
    color:white;
    text-align:center;
    padding:8px;
    }
    
    /* ANIMATION */

    @keyframes show{    
    from{
    opacity:0;
    transform:translateY(20px);
    }
    
    to{
    opacity:1;
    transform:translateY(0);
    }
    
 }
       
    /* RESPONSIVE */
    @media(max-width:700px){  
    nav ul{ 
    flex-direction:column;
    align-items:center;
    background:#141e30;
    }
    
    .container{
    width:90%;
    }
    
    button{
    width:100%;
    }
    
    footer{
    font-size:14px;
    }
 }